<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="csvOutputFilePath" value="c:\OM reports\result\allmetadata_OM.csv" />
    <add key="xlsxFilesFolderPath" value="C:\OM reports" />
    
  </appSettings>

</configuration>